# Module 1: Data validation and pre-processing technique

In [1]:
#import library packages
import pandas as p
import numpy as n

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
#Load given dataset
data = p.read_excel("AirQuality.xlsx")

Before drop the given dataset

In [4]:
data.head(10)

,Country,State,city,place,lastupdate,Avg,Max,Min,Pollutants
0,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,70.0,108.0,42.0,PM2.5
1,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,76.0,102.0,43.0,PM10
2,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,73.0,118.0,46.0,NO2
3,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,5.0,6.0,4.0,NH3
4,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,41.0,109.0,2.0,SO2
5,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,44.0,102.0,18.0,CO
6,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,29.0,35.0,12.0,OZONE
7,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,NaN,NaN,NaN,PM2.5
8,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,NaN,NaN,NaN,PM10
9,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,NaN,NaN,NaN,NO2

In [5]:
#shape
data.shape

(824, 9)

After drop the given dataset

In [6]:
df=data.dropna()

In [7]:
df.head(10)

,Country,State,city,place,lastupdate,Avg,Max,Min,Pollutants
0,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,70.0,108.0,42.0,PM2.5
1,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,76.0,102.0,43.0,PM10
2,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,73.0,118.0,46.0,NO2
3,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,5.0,6.0,4.0,NH3
4,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,41.0,109.0,2.0,SO2
5,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,44.0,102.0,18.0,CO
6,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,29.0,35.0,12.0,OZONE
12,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,30.0,103.0,2.0,CO
13,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,108.0,130.0,51.0,OZONE
14,India,Andhra_Pradesh,Tirupati,"Tirumala, Tirupati - APPCB",21-12-2018 03:00:00,46.0,72.0,28.0,PM2.5

In [8]:
#shape
df.shape

(788, 9)

In [9]:
#show columns
df.columns

Index(['Country', 'State', 'city', 'place', 'lastupdate', 'Avg', 'Max', 'Min',
       'Pollutants'],
      dtype='object')

In [10]:
#To describe the dataframe
df.describe()

              Avg         Max         Min
count  788.000000  788.000000  788.000000
mean    96.736041  149.675127   50.855330
std    114.746642  150.264480   74.279885
min      1.000000    1.000000    1.000000
25%     20.000000   35.000000    7.000000
50%     50.000000  103.000000   20.000000
75%    108.000000  180.250000   54.000000
max    457.000000  500.000000  335.000000

In [11]:
#Checking datatype and information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 788 entries, 0 to 823
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     788 non-null    object
 1   State       788 non-null    object
 2   city        788 non-null    object
 3   place       788 non-null    object
 4   lastupdate  788 non-null    object
 5   Avg         788 non-null    float64
 6   Max         788 non-null    float64
 7   Min         788 non-null    float64
 8   Pollutants  788 non-null    object
dtypes: float64(3), object(6)
memory usage: 61.6+ KB

Checking duplicate values of dataframe

In [12]:
#Checking for duplicate data
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
819    False
820    False
821    False
822    False
823    False
Length: 788, dtype: bool

In [13]:
#find sum of duplicate data
sum(df.duplicated())

0

In [14]:
#Checking sum of missing values
df.isnull().sum()

Country       0
State         0
city          0
place         0
lastupdate    0
Avg           0
Max           0
Min           0
Pollutants    0
dtype: int64

In [15]:
df.Pollutants.unique()

array(['PM2.5', 'PM10', 'NO2', 'NH3', 'SO2', 'CO', 'OZONE'], dtype=object)

To validate avg pollution values

In [16]:
#Checking minimum or maximum of average pollution values
print("Minimum value of average pollution is:", df.Avg.min())
print("Maximum value of average pollution is:", df.Avg.max())

Minimum value of average pollution is: 1.0
Maximum value of average pollution is: 457.0

In [17]:
#check the average pollution range
print("Avg pollution range :", sorted(df['Avg'].unique()))

Avg pollution range : [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 110.0, 111.0, 112.0, 113.0, 114.0, 115.0, 118.0, 119.0, 120.0, 121.0, 122.0, 124.0, 125.0, 126.0, 127.0, 129.0, 130.0, 131.0, 136.0, 138.0, 139.0, 141.0, 142.0, 144.0, 146.0, 148.0, 149.0, 150.0, 154.0, 156.0, 157.0, 160.0, 161.0, 163.0, 164.0, 165.0, 167.0, 176.0, 177.0, 180.0, 183.0, 185.0, 187.0, 190.0, 193.0, 195.0, 201.0, 203.0, 204.0, 207.0, 214.0, 217.0, 221.0, 223.0, 228.0, 229.0, 231.0, 232.0, 235.0, 238.0, 240.0, 241.0, 247.0, 253.0, 257.0, 265.0, 266.0, 269.0, 272.0, 274.0, 276.0, 277.0, 278.0, 280.0, 287.0, 297.0, 302.0, 304.0, 305.0, 307.0, 308.0, 311.0, 314.0, 317.0, 318.0, 320.0, 321.0, 323.0, 325.0, 329.0, 333.0, 336.0, 337.0, 339.0, 341.0, 342.0, 345.0, 349.0, 350.0, 354.0, 356.0, 358.0, 359.0, 360.0, 361.0, 364.0, 370.0, 371.0, 372.0, 373.0, 374.0, 377.0, 378.0, 379.0, 380.0, 381.0, 383.0, 385.0, 388.0, 389.0, 390.0, 392.0, 393.0, 395.0, 396.0, 397.0, 401.0, 406.0, 408.0, 410.0, 411.0, 413.0, 414.0, 418.0, 420.0, 421.0, 426.0, 431.0, 433.0, 436.0, 439.0, 457.0]

In [18]:
df.Pollutants.unique()

array(['PM2.5', 'PM10', 'NO2', 'NH3', 'SO2', 'CO', 'OZONE'], dtype=object)

In [19]:
PMkitchen = df.loc[df['Pollutants'] == 'PM2.5']
PMclean = df.loc[df['Pollutants'] == 'PM10']
N02 = df.loc[df['Pollutants'] == 'NO2']
NH3 = df.loc[df['Pollutants'] == 'NH3']
S02 = df.loc[df['Pollutants'] == 'SO2']
CO = df.loc[df['Pollutants'] == 'CO']
O3 = df.loc[df['Pollutants'] == 'OZONE']

In [20]:
df.columns

Index(['Country', 'State', 'city', 'place', 'lastupdate', 'Avg', 'Max', 'Min',
       'Pollutants'],
      dtype='object')

In [21]:
p.Categorical(df['Pollutants']).describe()

            counts     freqs
categories
CO             126  0.159898
NH3             86  0.109137
NO2            122  0.154822
OZONE          117  0.148477
PM10           102  0.129442
PM2.5          120  0.152284
SO2            115  0.145939

In [22]:
df['Pollutants'].value_counts()

CO       126
NO2      122
PM2.5    120
OZONE    117
SO2      115
PM10     102
NH3       86
Name: Pollutants, dtype: int64

In [23]:
df.corr()

          Avg       Max       Min
Avg  1.000000  0.960141  0.933346
Max  0.960141  1.000000  0.859276
Min  0.933346  0.859276  1.000000

Before Pre-Processing:

In [24]:
df.head()

,Country,State,city,place,lastupdate,Avg,Max,Min,Pollutants
0,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,70.0,108.0,42.0,PM2.5
1,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,76.0,102.0,43.0,PM10
2,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,73.0,118.0,46.0,NO2
3,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,5.0,6.0,4.0,NH3
4,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,41.0,109.0,2.0,SO2

After Pre-Processing:

In [25]:
df.columns

Index(['Country', 'State', 'city', 'place', 'lastupdate', 'Avg', 'Max', 'Min',
       'Pollutants'],
      dtype='object')

In [26]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['Country', 'State', 'city', 'place', 'lastupdate', 'Avg', 'Max', 'Min','Pollutants']
le = LabelEncoder()
for i in var_mod:
    df[i] = le.fit_transform(df[i]).astype(str)

In [27]:
df.head()

  Country State city place lastupdate Avg  Max Min Pollutants
0       0     0    4    99          0  68  105  41          5
1       0     0    4    99          0  74   99  42          4
2       0     0    4    99          0  71  115  45          2
3       0     0    4    99          0   4    5   3          1
4       0     0    4    99          0  39  106   1          6